<div class="row">
  <p class="pull-right"><%= link_to "All Movies", movies_path %></p>
  <h1>Watchlist: <%= @watchlist.list %></h1>
</div><!-- row -->

<div class="row" id="watchlist_unwatched_div">

  <%= render 'movies/unwatched_movies' %>

</div><!-- row -->

<div class="row" id="watchlist_watched_div">

  <%= render 'movies/watched_movies' %>

</div><!-- row -->