  <h2>Recently Watched...</h2>
  <% @watched_movies.each do |movie| %>
    <div class="movie-holder-watched">
     <a href="#" data-toggle="modal" data-target="#myModal_<%= movie.id %>">
     <%= image_tag movie.imdb_artwork, class: "artwork-watched" %></a>
    </div><!-- movie-holder -->

  <!-- Modal Partial - Called "Movie" -->
  <%= render :partial=>'movies/movie', :object=> movie %>

  <% end %><!-- each do -->
  </div><!-- row -->

 <div class="row"><!--this closes in the index/show erbs-->
  <center>
  <div class="pagination">
  <%= will_paginate @watched_movies, :params => { :watchdiv => "been_watched" }, :page_links => false  %>
  </div><!-- pagination -->
  </center>