<% if @noresults.present? %>
<h1><%= @noresults %></h1>

 <% elsif @search_results.present? %>

<div class="row">

  <h2>And the search results are...</h2>

    <%= render 'search_results' %>

 </div>

<% else %>

<div class="row">
  <h2>All Movies in the Queue...</h2>
</div><!-- row -->

<div class="row" id="unwatched_movies_div">

  <%= render 'unwatched_movies' %>

</div><!-- row -->

<div class="row" id="watched_movies_div">
<hr/>

  <%= render 'watched_movies' %>

</div><!-- row -->
<% end %>
