<div class="row">
  <h2>All Movies in the Queue...</h2>
</div><!-- row -->

<div class="row" id="unwatched_movies_div">

  <%= render 'unwatched_movies' %>

</div><!-- row -->

<div class="row" id="watched_movies_div">
<hr/>

  <%= render 'watched_movies' %>

</div><!-- row -->

