<div class="row">
  <h1>All Movies</h1>
</div><!-- row -->

<div class="row" id="unwatched_movies_div">

  <%= render 'unwatched_movies' %>

</div><!-- row -->

<div class="row" id="watched_movies_div">

  <%= render 'watched_movies' %>

</div><!-- row -->





