/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Site Wide */
.container {
  padding: 0px 30px;
}

h1, h2, h3, h4 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.navbar {
  border-radius: 0px;
}

a:hover {
  background-color: transparent;
  color: black;
  text-decoration: none;
 }

.movie-holder {
  position: relative;
  z-index: 0;
  width: 125px;
  height: 185px;
  float: left;
  margin: 1%;
  background-image: image-url("artwork-blank.jpg");
  background-size: 125px;
  text-align: center;
  border: 1px solid black;
}

.movie-holder-modal {
  position: relative;
  z-index: 0;
  width: 125px;
  height: 185px;
  float: left;
  margin: 1%;
  background-image: image-url("artwork-blank.jpg");
  background-size: 125px;
  text-align: center;
  border: 1px solid #f1f1f1;
}

.movie-holder-watched {
  position: relative;
  z-index: 0;
  width: 63px;
  height: 93px;
  float: left;
  margin: 1.25%;
  background-image: image-url("artwork-blank.jpg");
  background-size: 63px;
  text-align: center;
}

.artwork {
  width: 123px;
  height: 183px;
  z-index: 2;
  position: relative;
  margin-bottom: 5%;
}

.artwork-watched {
  width: 63px;
  height: 93px;
  z-index: 2;
  position: relative;
  margin-bottom: 5%;
}

.movie-title {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 75px;
}

.movie-footer-unwatched {
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 2%;
  position: relative;
  z-index: 3;
  top: -55px;
}

.hidden {
  display: none;
}

.dropshadow {
  text-shadow: 2px 2px 5px #000000;
}

/* Movies Index & Show Pages */

 .pagination {
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
    background-color: #222;}
  .pagination .disabled {
    color: #999999;
    /*border: 1px solid #dddddd;*/ }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    /*border: 1px solid #2e6ab1;*/ }
  .pagination a {
    text-decoration: none;
    color: white;
    /*border: 1px solid #9aafe5;*/ }
    .pagination a:hover, .pagination a:focus {
      color: gray;
      /*border-color: #000033;*/ }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }


/* Movies Show Page & Modals */
.modal-text {
  color: black;
}

.movie-status-unwatched {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: green;
  margin: -15px 0px 5px 0px;
  padding: 20px 10px 10px 10px;;
  border-radius: 0px 0px 5px 5px;
}

.movie-status-watched {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: gray;
  margin: -15px 0px 5px 0px;
  padding: 20px 10px 10px 10px;
  border-radius: 0px 0px 5px 5px;
}

.btn-hider {
  background-color: transparent;
  border: 0px;
  color: white;
  font-style: italic;
  font-size: 60%;
  margin-top: 5%;
}

.modal-art-margin {
  margin-right: 5%;
}

 .stats {
  font-size: 90%;
  color: gray;
 }

 .stats p {
  margin-bottom: 0px;
 }

 .stats a {
  color: gray;
 }

 .stats a:hover {
  background-color: transparent;
  text-decoration: underline;
 }

 .stats hr {
  margin: 0px; 
  margin-bottom: 2%;
 }

 .watch-info {
  width: 125px;
  margin: 0 auto;
  margin-bottom: 8%;
  text-align: center;
 }

 .watch-info p {
  color: gray;
  font-size: 70%;
  font-style: italic;
 }

.trailer-button a {
  color: white;
  font-size: 93%;
  background-color: #31b0d5;
  border: solid 1px #269abc;
  border-radius: 3px;
  padding: 3% 6%;
  text-decoration: none;
}

.trailer-button a:hover {
  background-color: #269abc;
  text-decoration: none;
}

 /* FORMS */
 .form-text {
  color: white;
 }

 .form-text a {
  color: #f1f1f1;
 }

/* STATIC PAGES */
.apisearch {
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  min-height: 223px;
  width: 70%;
  min-width: 400px;
}

.apisearch h3, p {
  color: black;
}

.apisearch img {
  margin-right: 30px;
  float: left;
}

/* Overrides */
.white {
  color: white;
}


