<div class="row">
  <p class="pull-right"><%= link_to "All Movies", movies_path %></p>
  <h2>In the <%= @category.name %> Queue...</h2>
</div><!-- row -->

<div class="row" id="category_unwatched_div">

 <%= render 'movies/unwatched_movies' %>

</div><!-- row -->

<div class="row" id="category_watched_div">

  <%= render 'movies/watched_movies' %>

</div><!-- row -->
